body {
    margin:0;
  }
  h1 {
    font-size: 46px;
    text-align:center;
    border-bottom:1px solid gray;
    font-family: 'Do Hyeon', sans-serif;
  }
  .neckkick {
  text-align:center;
  font-size: 20px;
  border-bottom:1px solid gray;
  color :black ;
  font-family: 'Nanum Myeongjo', serif;
  }
  .contents {
  text-align:center;
  font-size: 20px;
  background-color: white;
  font-family: 'Nanum Myeongjo', serif;
  }
  .content{
    width: 50%;
    height: 30%;
    position: absolute;
    left: 25%;
    top: 35%;
    text-align: center;
}
.window{
    height: 80%;
    border: 5px solid black;
    border-radius: 5%;
}
#w_stopwatch, #w_timer{
    display:none;
}
input[type=number]{
    width: 50px;
}
h1{
    font-size: 80px;
    margin: -20px 0px 0px 0px;
    text-shadow: 2px 2px white;
}
h3 {
    margin: 10px 0px 0px 0px;
}